.blog-container-right {
    border: 1px solid #E2E8F0;
    height: 200px;
    width: 700px;
    border-radius: 15px;
}

.search_input_container {
    border: 1px solid #99B2FA;
    height: 60px;
    width: 600px;
    margin-left: 46px;
    border-radius: 30px !important;

}

#basic-addon1 {
    margin-left: 10px;
}

#basic-addon2 {
    margin-right: 10px;
}

.search_input_container span,
.search_input_container input {
    border-radius: 100px;
    background-color: white;
    border: none;
}

.search_box {
    display: inline-block !important;
}

.blog-container-left {
    border: 1px solid #E2E8F0;
    height: 200px;
    width: 320px;
    border-radius: 15px;
}

.blog-container-left-inner {
    background-image: radial-gradient(#9198e5, white, white);
    margin-top: 10px;
    height: auto;
    margin-bottom: 10px;
}

.intro-hash {
    color: #897BF5;
}

.blog-left-btn button:first-child {
    width: 45%;
    height: 40px;
    border: none;
    background-color: #634AF1;
    color: white;
    border-radius: 20px;
}

.blog-left-btn button:last-child {
    width: 45%;
    height: 40px;
    border: 1px solid #E2E8F0;
    background-color: white;
    color: #717C8B;
    border-radius: 20px;
}

.post_box img {
    width: 230px;
    height: 170px;
    margin-left: 20px;
    margin-top: 10px;
}

.post_box button {
    width: 25%;
    height: 30px;
    border: 1px solid #E2E8F0;
    background-color: white;
    color: #717C8B;
    border-radius: 20px;
    font-size: 14px;
    margin-top: -4px;
    margin-left: 140px;
}
.personal-icon{
    font-size: 20px;
    margin: 5px;
}
.stronge-color{
    color:#C44815;
}

.blog-container-right-main {
    border: 1px solid #E2E8F0;
    height: 300px;
    width: 700px;
    border-radius: 15px;
    margin-bottom: 20px
}
.blogu img{
    width: 13%;
    height: 50px;
    border-radius: 100px;
}
.post_box-main{
    margin-left: -0px;
}
.noel-img img{
    width: 95%;
    margin-right: 25px;
    margin-top: 80px;
    border-radius:10px;

}
.blog-inner{
    margin-left: -25px;
}
.blog_text{
    width: 3000px;
}
.noelcserepy strong{
    margin-top: -10px !important;
}
.tread_text{
    color: #768499;
}
.left-inner{
    /* background-image: radial-gradient(#9198e5, white, white); */
    margin-top: 10px;
    height: auto;
    margin-bottom: 10px;
}

.blog-container-left-l-two{
    border: 1px solid #E2E8F0;
    height: auto;
    width: 320px;
    border-radius: 15px;
}

.left-inner button{
    background-color: white;
    border: 1px solid #E2E8F0;
    margin-bottom: 10px;
    width: 70%;
    height: 40px;
    border-radius: 20px;
    margin-left: 20px;
    color: #768499;

}
#top-commenter img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.top-comm-user{
    margin-left: 100px;
}

.new-team{
    background-color: #16A34A;
    position: relative;
   top: -5px;
    font-size: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}
.more_learn{
    color: blue;
}

.blog-container-left-l-two button{
    background-color: white;
    border: none;
    border: 1px solid #E2E8F0;
    margin-bottom: 10px;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    color: #768499;
}

#blog-last-footer{
    border: none;
    background-color: #F8FAFC;
   
}
#blog-last-footer-inner{
   font-size: 14px;
}

#blog-last-footer-inner p:hover{
text-decoration: underline;
cursor: pointer;
}

.image-container {
    position: relative;
    cursor: pointer;
}

.modal {
    /* display: none; */
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 20%;
    margin-left: 700px;
    height: auto;
    top: 30%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.modal img{
    width: 30% !important;
    height: 20% !important;
}
.modal button{
    background-color: #2563EB;
    color: white;
    width: 50%;
}

.image-container:hover .modal {
    display: block;
}
.footer-icon{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    /* padding: 5px; */
    padding-top: 2px;
    padding-left: 6px;
    border-radius: 20px;
}
.footer-icon:hover{
    background-color: #ececec;
}

.discuss-icon{
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.discuss-icon:hover {
    text-decoration: underline; 
}
